div {
  ul {
    margin: 20px;
    padding: 0;
    list-style: none;
      background-color: aquamarine;
  }

  li>a {
    display: block;
    padding: 6px 12px;
    text-decoration: none;   
  }
}